.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../../img/header-bg.jpg) center (center / cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: $color_white_text;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;

    }
    &__subheader {
        margin-top: 17px;
        color: $color_white_text;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;

    }
    &__icon {
        width: 106px;
        text-align: center;
        color: $color_white_text;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: $color_white_text;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: $color_white_text;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: #c70101;
            }
        }
    }
}